################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRUD/.vs/CRUD
/CRUD/CRUD/obj
