################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRUD/.vs/CRUD
/CRUD/CRUD/obj
/CRUD/.vs/ProjectEvaluation
/CRUD/CRUD/bin/Debug/net8.0/CRUD.deps.json
/CRUD/CRUD/bin/Debug/net8.0/CRUD.dll
/CRUD/CRUD/bin/Debug/net8.0/CRUD.exe
/CRUD/CRUD/bin/Debug/net8.0/CRUD.pdb
/CRUD/CRUD/bin/Debug/net8.0
